/* =============== CSS COMMON START ====================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* =============== CSS COMMON END ======================*/
#gal{
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gal .img_nav{
    width: calc(25% - 10px);
    margin: 0 5px;
    cursor: pointer;
}

#gal .pop_up{
    /* background-color: #888; */
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#gal .pop_up.active{
    visibility: visible;
    opacity: 1;
}
#gal .pop_up img{
    height: 550px;
}
#gal .pop_up .cross{
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: 0.5s;
}
#gal .pop_up .cross:hover {
    transform: rotate(360deg);
    background: #fff;
    color: #000;
}
#gal .pop_up .arrow{
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    position: absolute;
    cursor: pointer;
}
#gal .pop_up .arrow:hover{
    background: #fff;
    color: #000;
}
#gal .pop_up .arrow.left{
    left: 30%;
}
#gal .pop_up .arrow.right{
    right: 30%;
}
.imgslider{
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.carousel{
    height: 100vh!important;
}
.carousel img{
    height: 900px;
    width: 900px;
    
}